*{
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}

section{
    width: 100vw;
    height: 100vh;
}
a{
    text-decoration: none;
    color: black;
}
button{
    background-color: #3882F6;
    border-style: none;
    border-radius: 5px;
    text-align: center;
    width: 100px;
    height: 25px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 5px;
}
.links ul, ul{
    list-style: none;
    display: flex;
    gap: 12px;
}
.links ul{
    gap: 12px;
    font-size: 14px;   
}
.links ul a, .welcome p{
    color: #c7c9cc;
}
.header .logo-text, .welcome h2, .wlc-buttons button{
    color: #F9FAF8;
}
.header .logo-text{
    font-size: 24px;
    font-weight: bold;
}
.welcome h2{
    font-size: 38px;
}
.content{
    height: 60vh;
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 30px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}
.welcome{
    width: 300px;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.home-image{
    width: 400px;
    height: 300px;
    background-color: #c7c9cc;
    border-radius: 2px;
}
#hero{
    background-color: #1F2937;
}